In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import gc, math

from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from sklearn.metrics import mean_squared_error
#import lightgbm as lgb
from sklearn.model_selection import KFold, StratifiedKFold, GroupKFold
from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder

In [20]:
sns.set(rc={'figure.figsize':(11,8)})
sns.set(style="whitegrid")

In [37]:
%%time
df_train = pd.read_csv('C:/Users/oi400241/Desktop/ASHRAE/train.csv')
df_test = pd.read_csv('C:/Users/oi400241/Desktop/ASHRAE/test.csv')
df_metada = pd.read_csv('C:/Users/oi400241/Desktop/ASHRAE/building_metadata.csv')
df_sample_submission = pd.read_csv('C:/Users/oi400241/Desktop/ASHRAE/sample_submission.csv')
df_weather_test = pd.read_csv('C:/Users/oi400241/Desktop/ASHRAE/weather_test.csv')
df_weather_train = pd.read_csv('C:/Users/oi400241/Desktop/ASHRAE/weather_train.csv')

Wall time: 1min 1s

In [38]:
df_weather_train.head()
df_train.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6

In [16]:
df_train.describe()

              meter  meter_reading
count  2.021610e+07   2.021610e+07
mean   6.624412e-01   2.117121e+03
std    9.309921e-01   1.532356e+05
min    0.000000e+00   0.000000e+00
25%    0.000000e+00   1.830000e+01
50%    0.000000e+00   7.877500e+01
75%    1.000000e+00   2.679840e+02
max    3.000000e+00   2.190470e+07

In [32]:
df_train.shape

(20216100, 4)